body{
	padding-top: 70px;

}

.flex{
    display: flex;
    flex-wrap: row wrap;
}


.container2{
    display: flex;
    flex-flow: column wrap;
}

.jb1{
    flex: 3;
}
.jb1 img {
    width: 100px;
}
.jb2{
    flex: 9;
}
.container2 {
    width: 50%;
    align-content: center;
}

.jumbotron{
    display: flex; 
    flex-flow: column;
}

.name{
    text-align: right;
}
.email{
    text-align: right;
}

.age{
    text-align: right;
}

.option{
    text-align: right;
}

.recommend{
    text-align: right;
}
.option2{
    text-align: right;
}
.check{
    text-align: right;
}
